<link rel="stylesheet" href="./notificaiton.css">
<h3 class="header">Click on the edge to read and X to dismiss</h3>
<div id="notification-container" class="notificaiton-container">
</div>
<script  src="./notification.js"></script>