<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Bar Graph</title>
  <link rel="stylesheet" href="./statistics.css">
 
<!-- partial:index.partial.html -->
  <!-- <script defer src="/home/runner/automated-vegetation-system/node_modules/js/all.js"></script>
  <script defer src="/home/runner/automated-vegetation-system/node_modules/js/all.js"></script>
  <script defer src="/home/runner/automated-vegetation-system/node_modules/js/all.js"></script> -->
  <!-- <script src="https://kit.fontawesome.com/a87a7d7cfe.js" crossorigin="anonymous"></script> -->
</head>
<body>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=">
  <title >Bar Graph</title>
</head>
<body>
  <div id = 'main' class = "center">
    <div id ="svg" class = "svg-container"></div>
    <div id = "buttons">
       <button id = "last-button" class = "limit-button"><<</button>
      <button id = "previous-button" class = "limit-button"><</button>
      <button id = "next-button" class = "limit-button">></button>
      <button id = "first-button" class = "limit-button">>></button>
      
      
      </div>
  </div>
</body>
  <script src="https://d3js.org/d3-dsv.v2.min.js"></script>
<script src="https://d3js.org/d3-fetch.v2.min.js"></script>
</html>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/6.1.1/d3.min.js'></script><script  src="statistics.js"></script>

</body>
</html>
