<link rel="stylesheet" href="statistics.css">
<link rel="stylesheet" href="header.css">
<link rel="stylesheet" href="woman-plant.css">
<header>
   <h2>Statistics</h2>
   <div class="woman-plant">
      <svg width="auto" height="auto" viewBox="0 0 1200 917" fill="none" xmlns="http://www.w3.org/2000/svg">
         <g id="undraw_investment_data_yfvt 1" clip-path="url(#clip0)">
            <g id="bar">
               <path id="Vector" d="M317.568 513.332H251.351V801.892H317.568V513.332Z" fill="#3F3D56" />
               <path id="Vector_2" d="M329.73 513.332H263.514V801.892H329.73V513.332Z" fill="#EBDA58" />
               <path id="Vector_3" d="M474.324 309.736H408.108V801.892H474.324V309.736Z" fill="#3F3D56" />
               <path id="Vector_4" d="M486.486 309.736H420.27V801.892H486.486V309.736Z" fill="#2BED8A" />
               <path id="Vector_5" d="M631.081 106.14H564.865V801.892H631.081V106.14Z" fill="#3F3D56" />
               <path id="Vector_6" d="M643.243 106.14H577.027V801.892H643.243V106.14Z" fill="#F15F46" />
            </g>
            <g id="Group 1">
               <path id="Vector_7" d="M1200 800.096H0V803.688H1200V800.096Z" fill="#3F3D56" />
               <path id="Vector_8"
                  d="M1022.09 150.424C1047.49 150.424 1068.08 125.994 1068.08 95.8584C1068.08 65.7227 1047.49 41.2928 1022.09 41.2928C996.684 41.2928 976.09 65.7227 976.09 95.8584C976.09 125.994 996.684 150.424 1022.09 150.424Z"
                  fill="#2F2E41" />
               <path id="Vector_9"
                  d="M910.826 454.959L908.339 472.656C908.339 472.656 894.665 533.12 912.069 530.171C929.473 527.221 923.257 475.605 923.257 475.605L925.743 459.383L910.826 454.959Z"
                  fill="#FFB9B9" />
               <path id="Vector_10"
                  d="M1064.35 371.636H963.659C963.659 371.636 935.067 424.727 946.255 517.635C957.443 610.544 952.471 818.483 952.471 818.483H991.008L1017.11 492.565L1071.81 818.483L1107.86 814.059L1087.97 437.999L1064.35 371.636Z"
                  fill="#2F2E41" />
               <path id="Vector_11"
                  d="M963.037 813.322L961.794 867.887C961.794 867.887 945.634 922.453 969.253 916.554C992.873 910.655 995.359 898.857 995.359 894.433C995.359 890.009 989.143 813.322 989.143 813.322H963.037Z"
                  fill="#2F2E41" />
               <path id="Vector_12"
                  d="M1101.55 809.176L1108.66 867.529C1108.66 867.529 1130.58 919.194 1106.51 916.928C1082.45 914.662 1078.71 903.338 1078.24 898.95C1077.76 894.562 1075.65 813.138 1075.65 813.138L1101.55 809.176Z"
                  fill="#2F2E41" />
               <path id="Vector_13"
                  d="M1022.71 149.687C1041.25 149.687 1056.27 131.859 1056.27 109.868C1056.27 87.8776 1041.25 70.0504 1022.71 70.0504C1004.17 70.0504 989.143 87.8776 989.143 109.868C989.143 131.859 1004.17 149.687 1022.71 149.687Z"
                  fill="#FFB9B9" />
               <path id="Vector_14"
                  d="M1048.19 126.829L1061.87 182.869L1034.52 215.313L1019.6 184.344L1014.63 140.101L1048.19 126.829Z"
                  fill="#FFB9B9" />
               <path id="Vector_15"
                  d="M1060 164.434C1060 164.434 1058.17 149.559 1054.11 151.098C1050.06 152.636 1014.01 162.959 1014.01 167.384V186.555L984.171 323.707L976.712 379.747L1055.03 378.272L1067.46 183.606L1060 164.434Z"
                  fill="#E6E6E6" />
               <path id="Vector_16"
                  d="M1053.16 148.949L1061.87 151.899L1076.16 168.858C1076.16 168.858 1110.97 161.485 1115.94 180.656C1120.92 199.828 1088.59 438.737 1088.59 438.737C1088.59 438.737 1033.9 460.858 1025.19 404.817C1016.49 348.777 1017.11 300.848 1034.52 265.454C1051.92 230.06 1053.16 148.949 1053.16 148.949Z"
                  fill="#2F2E41" />
               <path id="Vector_17"
                  d="M1017.1 162.109L1012.14 165.171L1007.79 188.03C1007.79 188.03 971.739 199.828 969.253 216.05C966.767 232.272 970.496 320.757 970.496 320.757C970.496 320.757 935.688 404.818 941.904 440.211C941.904 440.211 956.822 454.959 968.01 435.787C979.198 416.615 1006.55 301.585 1007.79 294.212C1009.03 286.838 1022.68 164.209 1017.1 162.109Z"
                  fill="#2F2E41" />
               <path id="Vector_18"
                  d="M982.928 210.151L969.616 214.433L960.551 245.544L941.904 325.181L905.853 456.434L930.716 469.706L970.496 373.848L982.928 210.151Z"
                  fill="#2F2E41" />
               <path id="Vector_19"
                  d="M1048.19 104.707C1026.82 95.5618 1019.59 89.9437 995.981 104.707L987.279 63.4141H1056.89L1048.19 104.707Z"
                  fill="#2F2E41" />
               <path id="Vector_20"
                  d="M1018.36 69.313C1032.78 69.313 1044.46 55.4474 1044.46 38.3434C1044.46 21.2393 1032.78 7.37372 1018.36 7.37372C1003.94 7.37372 992.251 21.2393 992.251 38.3434C992.251 55.4474 1003.94 69.313 1018.36 69.313Z"
                  fill="#2F2E41" />
               <path id="Vector_21"
                  d="M987.279 30.9696C987.282 23.0162 989.866 15.3696 994.496 9.61682C999.125 3.86403 1005.44 0.44682 1012.14 0.0744061C1011.73 0.051177 1011.32 -3.05176e-05 1010.9 -3.05176e-05C1003.97 -3.05176e-05 997.334 3.26284 992.439 9.07077C987.543 14.8787 984.792 22.7559 984.792 30.9696C984.792 39.1833 987.543 47.0605 992.439 52.8684C997.334 58.6764 1003.97 61.9392 1010.9 61.9392C1011.32 61.9392 1011.73 61.888 1012.14 61.8648C1005.44 61.4924 999.125 58.0752 994.496 52.3224C989.866 46.5696 987.282 38.9231 987.279 30.9696Z"
                  fill="#2F2E41" />
               <path id="Vector_22"
                  d="M1063.91 430.552L1058.22 447.174C1058.22 447.174 1043.19 507.184 1029.67 493.863C1016.14 480.542 1044.21 440.423 1044.21 440.423L1049.25 425.057L1063.91 430.552Z"
                  fill="#FFB9B9" />
               <path id="Vector_23"
                  d="M1098.54 185.08L1115.94 180.656C1118.42 189.345 1120.42 198.211 1121.94 207.202C1124.43 221.949 1120.59 338.454 1118.11 350.252C1115.62 362.05 1070.54 440.659 1070.54 440.659L1029.97 430.217L1088.59 325.181L1098.54 185.08Z"
                  fill="#2F2E41" />
               <path id="Vector_24" opacity="0.2"
                  d="M1089.19 260.04L1078.38 330.577L1037.84 428.367L1074.32 325.767L1089.19 260.04Z" fill="black" />
            </g>
         </g>
         <defs>
            <clipPath id="clip0">
               <rect width="1200" height="917" fill="white" />
            </clipPath>
         </defs>
      </svg>




   </div>
</header>
<div id='main' class="center">
   <form id="form" class="form" action="#">
      <div class="column-div margin-top">
         <label for="Value" class="label">SET VALUE</label>
         <div class="row-div">
            <input id="minValue" class="input-field" name="minValue" value="-1000" placeholder="Start Value"
               type="number"></input>
            <span class="seperator">-</span>
            <input id="maxValue" name="maxValue" class="input-field" value="1000" placeholder="End Value"
               type="number"></input>
         </div>


         <label for="Date" class="label">SET DATE</label>
         <div class="row-div">
            <input id="minDate" name="minDate" class="input-field" value="1970-01-10" type="date"></input>
            <span class="seperator">-</span>
            <input id="maxDate" name="maxDate" class="input-field" value="2222-01-01" type="date"></input></div>

         <div>
            <label for="limit-field" class="label">Points/Graph</label>
            <input id="limit-field" type="number" class="input-field" name="limit" value=100></input>
         </div>
         <div class="row-div margin-top margin-bottom">
            <input id="reset-button" class="form-button red-button margin-bottom" type="reset" accesskey="r"></input>
            <input id="submit-button" class="form-button green-button margin-bottom" type="submit"></input>
         </div>

      </div>

   </form>
   <div id="svg" class="svg-container"></div>
   <div id=radio-div>
      <input type="radio" class="radio-button" id="temperature-radio" name="graphs" checked="checked"
         value="Temperature"></input>
      <label for="temperature-radio"><i class="fas fa-2x fa-temperature-high"></i></label>
      <input type="radio" id="ph-radio" name="graphs" class="radio-button" value="PH"></input>
      <label for="ph-radio"><i class="fas fa-2x fa-thermometer"></i></label>
      <input type="radio" id="electric-radio" name="graphs" class="radio-button" value="ElectricConductivity"></input>
      <label for="electric-radio"><i class="fas  fa-2x fa-bolt"></i></label>
   </div>
   <div id="page-buttons">
      <button id="previous-button" accesskey="1" class="limit-button fas fa-chevron-left">
      </button>
      <button id="next-button" accesskey="2" class="limit-button fa fa-chevron-right"></button>
   </div>
</div>
</div>
<script src="https://d3js.org/d3-dsv.v2.min.js"></script>
<script src="https://d3js.org/d3-fetch.v2.min.js"></script>

</html>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/6.1.1/d3.min.js'></script>
<script src="statistics.js"></script>