/*@import url('../node_modules/font-awesome/css/font-awesome.min.css');*/
body{
  min-height: 100vh;
}
.form{
  margin-top: 2rem;
  max-width: auto;
  max-height: auto;
  color: white;
  border-radius: 0.5rem;
  background: rgb(243,213,239,0.15);

}
.margin-top{
margin-top: 10px;
}

.column-div{
  display: flex;
  flex-direction: column;
   justify-content: center;
  

}
.row-div{
  display: flex;
  flex-direction: row;
   justify-content: center;
 
}
.label{
  font-size: 16px;
  font-weight: bold;
}
.input-field{
  margin: 5px;
  height: 1.75rem;
  border-color: #590c51;
  text-align: center;
  width: 85%;
  background: #fefefe;
  border-radius: 2rem;
  border-width: 0.25rem;
}
.margin-bottom{
  margin-bottom: 10px;
}

.form-button{
  color: #FFFFFF;
  font-size: 1rem;
  text-align: center;
  width: 85%;
  height: 2.25rem;
  border-radius: 0.25rem;
}
.blue-button{
  background: rgb(23,168,40,00.65);
}
.red-button{
  background: rgb(239,119,16,0.65);
}
.form-button:hover{
  filter: saturate(1.5);
}

.radio-button{
    margin:0;
    padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
label .fas:hover{
     transform: scale(1.2);
     

}
 .radio-button:checked+label {
  color: #08b340;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

  

.center{
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  width: 100%;


}
.limit-button{
  background: transparent;
  border: none !important;
  font-size:22px;
  padding: 8px;
  font-weight : bolder;
  outline :none;
}
.limit-button:hover{
  transform: scale(1.2);
  
}
.svg-container{
  min-width: 80vw;
  min-height: auto;
  overflow: auto;
}
.svg{
 -webkit-box-shadow: 0px 0px 5px 8px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 8px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 8px rgba(0,0,0,0.75);
margin: 20px;
background: white;

}

.tooltip{
  opacity:0;
  padding: 5px;
  border-radius: 5px;
  background: #0A93CC;
  position: absolute;
  border: solid;
  color: white;
  z-index: 10;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
  font-size: 18px;}

  .fade-in {
animation: fadeIn ease 0.5s;
-webkit-animation: fadeIn ease 0.5s;
-moz-animation: fadeIn ease 20s;
-o-animation: fadeIn ease 20s;
-ms-animation: fadeOut ease 20s;
}
  @keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
  
  .fade-out{
    animation: fadeOut ease 0.5s;
-webkit-animation: fadeOut ease 0.5s;
-moz-animation: fadeOut ease 0.5s;
-o-animation: fadeOut ease 0.5s;
-ms-animation: fadeOut ease 0.5s;
  }
  
  @keyframes fadeOut {
0% {opacity:1;}
100% {opacity:0;}
}
  

@media only screen and (max-width: 768px) {
  .svg-container{
    min-width: 96vw;
  }
  .form-button{
    height: 1.5rem
  }
  .input-field{
    height: 1rem;
  }
  .form{
    max-width: 66%;
  }
}